<header class="header">
    <div class="background-overlay text-white py-3">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 text-center justify-content-center align-self-center">
                    <h1>El Colombiano Hambriento</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia totam quaerat mollitia odio
                        non exercitationem voluptas a et illum. Aliquid sequi possimus et ullam unde alias quisquam
                        soluta quia magnam nemo rem sint sunt animi excepturi, rerum repudiandae perspiciatis.
                        Doloremque adipisci blanditiis nulla. Quam consectetur quidem explicabo at ipsam? ipsum dolor
                        sit amet consectetur adipisicing elit. Ipsum, adipisci?</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg text-white" id="Leer">Leer mas</a>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/fondos/fondo.jpg" width="1000px"
                        class="img-fluid img-border d-none d-sm-block">

                </div>
            </div>
        </div>
    </div>
</header>
<section class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control form-control-lg" placeholder="Ingrese su nombre">
            </div>
            <div class="col-md-4">
                <input type="email" class="form-control form-control-lg" placeholder="Ingrese su email">
            </div>
            <div class="col-md-4">
                <button class="btn btn-info btn-primary btn-lg btn-block" id="Info">
                    Recibe mas informacion
                </button>
            </div>
        </div>
    </div>
</section>