
<section class="bg-dark text-center text-white">
    <div class="container">
        <div class="row">
            <div>
                <h3>¿Quienes Somos?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quasi debitis dolor mollitia distinctio. Accusantium omnis
                    assumenda doloribus, ratione, voluptates molestias fugiat
                    corrupti tenetur eum dolorum suscipit necessitatibus impedit
                    alias quae.</p>
                <img src="../../../../assets/fondos/Fondo3.jpg" alt="" class="img-fluid rounded-circle w-60">
            </div>
        </div>
    </div>
</section>
<section class="team text-center">
    <div class="container py-5">
        <h1 class="text-white">Chefs</h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, error!</p>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../assets/chefs/Team.png" alt="Equipo1"
                            class="img-fluid rounded-circle w-50">
                        <h3>Maria</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, omnis.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../assets/chefs/Team2.png" alt="Equipo1"
                            class="img-fluid rounded-circle w-50">
                        <h3>Antonio</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, omnis.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../assets/chefs/Team3.png" alt="Equipo1"
                            class="img-fluid rounded-circle w-50">
                        <h3>Carlos</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, omnis.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../assets/chefs/Team4.png" alt="Equipo1"
                            class="img-fluid rounded-circle w-50">
                        <h3>Jose</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, omnis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>