<section class="container " id="cuisine">
    <h2 class="text-center pt-4 pt-sm-3 my-5">Tendencia en la ciudad</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 " [routerLink]="'/tienda'">
                <img class="card-img-top" src="assets/Categoria/01.jpg" alt="Burgers &amp; Fries">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Hamburguesa</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 " routerLink="../tienda">
                <img class="card-img-top" src="../../../../assets/Categoria/02.jpg" alt="Noodles">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">
                        Sopas
                    </h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 " routerLink="../tienda">
                <img class="card-img-top" src="../../../../assets/Categoria/03.jpg" alt="">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">
                        Sushis
                    </h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 " routerLink="../tienda">
                <img class="card-img-top" src="../../../../assets/Categoria/04.jpg" alt="">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Pizza y Pasta</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 " routerLink="../tienda">
                <img class="card-img-top" src="../../../../assets/Categoria/05.jpg" alt="">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Postres</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"> 
            <a class="card border-0 "routerLink="../tienda">
                <img class="card-img-top" src="../../../../assets/Categoria/06.jpg" alt="">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Comida Saludable</h3>
                </div>
            </a>
        </div>
    </div>
</section>